openapi: 3.0.3
info:
  title: ai_licia Public Api
  description: |-
    This API provides endpoints to feed data to ai_licia, so she can ingest them, and react accordingly. 
    
    
    
    
    Some useful links:
    - [Getting started with ai_licia](https://www.getailicia.com/post/discover-ai_licia-the-twitch-ai-companion)
  contact:
    email: contact@novasquare.io

  version: 1.2.0

servers:
  - url: https://api.getailicia.com/v1
tags:
  - name: Event Stream
    description: Real-time event streaming endpoints
  - name: events
    description: Feed contextual data to ai_licia
  - name: generate
    description: Trigger a reaction from ai_licia
paths:
  /events:
    post:
      tags:
        - events
      summary: Feed data to ai_licia
      description: Feed data to ai_licia to be added to her context.
      operationId: events
      requestBody:
        description: Create a new event
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Event'
        required: true
      responses:
        '200':
          description: Successful operation

        '400':
          description: Invalid input
        '401':
          description: Unauthorized Not allowed to send events for this channel.
        '422':
          description: Unprocessable Entity Content exceeds the 700-character limit.
      security:
        - api_key: []



  /events/generations:
    post:
      tags:
        - generate
      summary: Trigger a reaction from ai_licia
      description: ''
      operationId: generate
      requestBody:
        description: Create a new event
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventGeneration'
        required: true
      responses:
        '200':
          description: successful operation
        '400':
          description: Invalid input
        '401':
          description: Unauthorized Not allowed to send events for this channel.
        '422':
          description: Unprocessable Entity Content exceeds the 300-character limit.
        '429':
          description: Too many requests

      security:
        - api_key: []
  /v1/events/chat/messages/stream:
    get:
      summary: Public Chat Message Stream
      description: |
        Server-Sent Events (SSE) endpoint that streams real-time chat messages for the authenticated streamer's primary channel.

        This public endpoint is secured with the channel API key (provide it in the `Authorization` header as `Bearer <API_KEY>`).

        **Access requirement:** the streamer must have an active Flex, Unlimited, or Ultimate subscription.

        ## Payload
        Each `message` event contains:
        - `username` – Author of the chat message (viewer, streamer, or AI)
        - `content` – Message text
        - `role` – One of `Mod`, `VIP`, `AI`, `Viewer`, `Streamer`
        - `isSub` – Whether the chatter is a current subscriber
        - `sentDateTime` – UTC timestamp

        A periodic SSE `:ping` comment is sent every 30 seconds to keep the connection alive.
      operationId: streamPublicChatMessages
      tags:
        - Event Stream
      parameters:
        - name: roles
          in: query
          required: false
          description: |
            Optional list of roles to include. Repeat the parameter for multiple values (e.g. `roles=Mod&roles=AI`).
            When omitted, all chat messages are streamed.
          schema:
            type: array
            items:
              type: string
              enum:
                - Mod
                - VIP
                - AI
                - Viewer
                - Streamer
          style: form
          explode: true
      security:
        - api_key: [ ]
      responses:
        '200':
          description: Successful connection to the public chat stream
          content:
            text/event-stream:
              schema:
                type: string
                description: SSE stream containing `message` events with `PublicChatMessage` payloads.
              examples:
                viewer_message:
                  summary: Viewer chat message
                  value: |
                    id: 123e4567-e89b-12d3-a456-426614174000
                    event: message
                    data: {"username":"viewer42","content":"Let's go!","role":"Viewer","isSub":true,"sentDateTime":"2025-02-18T21:15:22Z"}
                ai_message:
                  summary: AI response
                  value: |
                    id: 223e4567-e89b-12d3-a456-426614174111
                    event: message
                    data: {"username":"ailicia","content":"I'll cover that in a moment!","role":"AI","isSub":false,"sentDateTime":"2025-02-18T21:15:30Z"}
                ping_event:
                  summary: Keep-alive ping comment
                  value: |
                    :ping
        '401':
          description: Unauthorized - Missing or invalid API key (no response body)
        '403':
          description: Forbidden - Requires an active Flex, Unlimited, or Ultimate subscription (no response body)
        '404':
          description: Streamer or channel not found for provided API key (no response body)
        '500':
          description: Internal Server Error (no response body)
  /eventsub/stream:
    get:
      summary: Unified EventSub Stream
      description: |
        Subscribe to the consolidated Server-Sent Events (SSE) stream for chat, AI, moderation, channel, system, and character events.

        Use the `types` query string to filter to a subset of event keys (for example, `chat.message,ai.tts.generated`). The SSE `event`
        name matches the `type` value within the payload envelope (see `EventSubEvent` schema).
      operationId: streamEventSub
      tags:
        - Event Stream
      parameters:
        - name: types
          in: query
          required: false
          description: |
            Comma-separated list of event keys to include (e.g. `chat.message,ai.tts.generated`). When omitted, all events are delivered.
          schema:
            type: string
        - name: channelId
          in: query
          required: false
          description: Target a specific channel when the API key controls multiple.
          schema:
            type: string
        - name: cursor
          in: query
          required: false
          description: Opaque resume token for future replay support.
          schema:
            type: string
      responses:
        '200':
          description: Connection established; SSE frames stream until closed.
          content:
            text/event-stream:
              schema:
                $ref: '#/components/schemas/EventSubEvent'
              description: Stream of SSE frames where the SSE `data` field contains a JSON envelope.
              examples:
                chat_message:
                  summary: Chat message event
                  value:
                    id: evt_chat_msg_1
                    type: chat.message
                    timestamp: '2025-02-18T21:15:22Z'
                    channel:
                      id: ch_123
                      name: mychannel
                      platform: TWITCH
                    payload:
                      id: msg_1
                      username: viewer42
                      message: Let's go!
                      language: en
                      platform: TWITCH
                      isSubscriber: true
                      isVip: false
                      isModerator: false
                      sentDateTime: '2025-02-18T21:15:22Z'
                ping:
                  summary: Keep-alive ping
                  value:
                    id: evt_ping_1
                    type: system.ping
                    timestamp: '2025-02-18T21:20:00Z'
                    channel:
                      id: ch_123
                      name: mychannel
                      platform: TWITCH
                    payload:
                      pingId: 123
        '401':
          description: Unauthorized - Missing or invalid API key (no response body)
        '403':
          description: Forbidden - Subscription level does not include EventSub (no response body)
        '404':
          description: Channel not found for the provided API key (no response body)
        '500':
          description: Internal Server Error (no response body)
      security:
        - api_key: [ ]

components:
  schemas:
    Event:
      required:
        - eventType
        - data
      type: object
      properties:

        data:
          $ref: '#/components/schemas/EventContent'


        eventType:
          type: string
          description: Type of the event sent
          enum:
            - GAME_EVENT

    EventContent:
      required:
        - channelName
        - content
      type: object
      properties:
        channelName:
          type: string
          description: The name of the channel you want to send events for. Should be the one matching the API key.
          example: jellabn
        content:
          type: string
          description: The data you want ai_licia to process and use in chat.
          example: "altitude (feet): 18.021114034125176, longitude: -58.408335967526185 "
          maxLength: 700
        ttl:
          type: integer
          format: int64   # Assuming the TTL is represented in seconds
          description: Time-to-Live (TTL) in seconds. Represents the duration for which content will be valid. If null or not specified, the content will not expire.
          example: 90
          nullable: true




    EventGeneration:
      required:
        - eventType
        - data
      type: object
      properties:

        data:
          $ref: '#/components/schemas/EventContentGeneration'


        eventType:
          type: string
          description: Type of the event sent
          enum:
            - GAME_EVENT

    EventContentGeneration:
      required:
        - eventType
        - data
      type: object
      properties:
        channelName:
          type: string
          description: The name of the channel you want to send events for. Should be the one matching the API key.
          example: jellabn
        content:
          type: string
          example: "Plane landed succesful"
          description: The data you want ai_licia to react to with her generation.
          maxLength: 300
    EventSubChannelRef:
      type: object
      required:
        - id
        - name
        - platform
      properties:
        id:
          type: string
          description: Unique channel identifier.
          example: ch_123
        name:
          type: string
          description: Public channel handle.
          example: mychannel
        platform:
          type: string
          description: Source platform for the channel (e.g. TWITCH, KICK, YOUTUBE).
          example: TWITCH
    EventSubStreamRef:
      type: object
      required:
        - id
      properties:
        id:
          type: string
          description: Identifier of the live stream session.
          example: st_456
    EventSubEnvelopeBase:
      type: object
      required:
        - id
        - type
        - timestamp
        - channel
        - payload
      properties:
        id:
          type: string
          description: Unique delivery identifier for the event.
        type:
          type: string
          description: Event key (matches the SSE `event` name).
          enum:
            - chat.message
            - chat.ai_message
            - chat.first_message
            - ai.thoughts
            - ai.tts.generated
            - channel.event
            - ai.moderation
            - api.event
            - system.join
            - system.left
            - character.updated
            - system.ping
        version:
          type: string
          description: Optional schema version for the payload.
          example: "2025-02-01"
        timestamp:
          type: string
          format: date-time
          description: Timestamp when the event was emitted.
        channel:
          $ref: '#/components/schemas/EventSubChannelRef'
        stream:
          $ref: '#/components/schemas/EventSubStreamRef'
        payload:
          type: object
          description: Event-specific payload.
        meta:
          type: object
          description: Additional metadata specific to the event type.
          additionalProperties: true
    EventSubEvent:
      description: ai_licia EventSub SSE envelope.
      oneOf:
        - $ref: '#/components/schemas/EventSubChatMessageEvent'
        - $ref: '#/components/schemas/EventSubChatAiMessageEvent'
        - $ref: '#/components/schemas/EventSubChatFirstMessageEvent'
        - $ref: '#/components/schemas/EventSubAiThoughtsEvent'
        - $ref: '#/components/schemas/EventSubAiTtsGeneratedEvent'
        - $ref: '#/components/schemas/EventSubChannelEvent'
        - $ref: '#/components/schemas/EventSubAiModerationEvent'
        - $ref: '#/components/schemas/EventSubApiEvent'
        - $ref: '#/components/schemas/EventSubSystemJoinEvent'
        - $ref: '#/components/schemas/EventSubSystemLeftEvent'
        - $ref: '#/components/schemas/EventSubCharacterUpdatedEvent'
        - $ref: '#/components/schemas/EventSubSystemPingEvent'
      discriminator:
        propertyName: type
        mapping:
          chat.message: '#/components/schemas/EventSubChatMessageEvent'
          chat.ai_message: '#/components/schemas/EventSubChatAiMessageEvent'
          chat.first_message: '#/components/schemas/EventSubChatFirstMessageEvent'
          ai.thoughts: '#/components/schemas/EventSubAiThoughtsEvent'
          ai.tts.generated: '#/components/schemas/EventSubAiTtsGeneratedEvent'
          channel.event: '#/components/schemas/EventSubChannelEvent'
          ai.moderation: '#/components/schemas/EventSubAiModerationEvent'
          api.event: '#/components/schemas/EventSubApiEvent'
          system.join: '#/components/schemas/EventSubSystemJoinEvent'
          system.left: '#/components/schemas/EventSubSystemLeftEvent'
          character.updated: '#/components/schemas/EventSubCharacterUpdatedEvent'
          system.ping: '#/components/schemas/EventSubSystemPingEvent'
    EventSubChatMessageEvent:
      allOf:
        - $ref: '#/components/schemas/EventSubEnvelopeBase'
        - type: object
          properties:
            type:
              type: string
              enum:
                - chat.message
            payload:
              $ref: '#/components/schemas/EventSubChatMessagePayload'
    EventSubChatAiMessageEvent:
      allOf:
        - $ref: '#/components/schemas/EventSubEnvelopeBase'
        - type: object
          properties:
            type:
              type: string
              enum:
                - chat.ai_message
            payload:
              $ref: '#/components/schemas/EventSubChatAiMessagePayload'
    EventSubChatFirstMessageEvent:
      allOf:
        - $ref: '#/components/schemas/EventSubEnvelopeBase'
        - type: object
          properties:
            type:
              type: string
              enum:
                - chat.first_message
            payload:
              $ref: '#/components/schemas/EventSubChatFirstMessagePayload'
    EventSubAiThoughtsEvent:
      allOf:
        - $ref: '#/components/schemas/EventSubEnvelopeBase'
        - type: object
          properties:
            type:
              type: string
              enum:
                - ai.thoughts
            payload:
              $ref: '#/components/schemas/EventSubAiThoughtsPayload'
    EventSubAiTtsGeneratedEvent:
      allOf:
        - $ref: '#/components/schemas/EventSubEnvelopeBase'
        - type: object
          properties:
            type:
              type: string
              enum:
                - ai.tts.generated
            payload:
              $ref: '#/components/schemas/EventSubAiTtsGeneratedPayload'
    EventSubChannelEvent:
      allOf:
        - $ref: '#/components/schemas/EventSubEnvelopeBase'
        - type: object
          properties:
            type:
              type: string
              enum:
                - channel.event
            payload:
              $ref: '#/components/schemas/EventSubChannelEventPayload'
    EventSubAiModerationEvent:
      allOf:
        - $ref: '#/components/schemas/EventSubEnvelopeBase'
        - type: object
          properties:
            type:
              type: string
              enum:
                - ai.moderation
            payload:
              $ref: '#/components/schemas/EventSubAiModerationPayload'
    EventSubApiEvent:
      allOf:
        - $ref: '#/components/schemas/EventSubEnvelopeBase'
        - type: object
          properties:
            type:
              type: string
              enum:
                - api.event
            payload:
              $ref: '#/components/schemas/EventSubApiPayload'
    EventSubSystemJoinEvent:
      allOf:
        - $ref: '#/components/schemas/EventSubEnvelopeBase'
        - type: object
          properties:
            type:
              type: string
              enum:
                - system.join
            payload:
              $ref: '#/components/schemas/EventSubSystemJoinPayload'
    EventSubSystemLeftEvent:
      allOf:
        - $ref: '#/components/schemas/EventSubEnvelopeBase'
        - type: object
          properties:
            type:
              type: string
              enum:
                - system.left
            payload:
              $ref: '#/components/schemas/EventSubSystemLeftPayload'
    EventSubCharacterUpdatedEvent:
      allOf:
        - $ref: '#/components/schemas/EventSubEnvelopeBase'
        - type: object
          properties:
            type:
              type: string
              enum:
                - character.updated
            payload:
              $ref: '#/components/schemas/EventSubCharacterUpdatedPayload'
    EventSubSystemPingEvent:
      allOf:
        - $ref: '#/components/schemas/EventSubEnvelopeBase'
        - type: object
          properties:
            type:
              type: string
              enum:
                - system.ping
            payload:
              $ref: '#/components/schemas/EventSubSystemPingPayload'
    EventSubChatMessagePayload:
      type: object
      required:
        - id
        - username
        - message
        - language
        - platform
        - isSubscriber
        - isVip
        - isModerator
        - sentDateTime
      properties:
        id:
          type: string
          description: Unique identifier of the chat message.
        username:
          type: string
          description: Display name of the chatter.
        message:
          type: string
          description: Text body of the chat message.
        language:
          type: string
          description: ISO language code detected for the message.
          example: en
        platform:
          type: string
          description: Source platform for the message (e.g. TWITCH, YOUTUBE).
          example: TWITCH
        isSubscriber:
          type: boolean
        isVip:
          type: boolean
        isModerator:
          type: boolean
        sentDateTime:
          type: string
          format: date-time
          description: UTC timestamp when the message was sent.
    EventSubChatAiMessagePayload:
      type: object
      required:
        - id
        - username
        - message
        - target
        - targetRole
        - shouldGenerateTtsMessage
        - sentDateTime
      properties:
        id:
          type: string
        username:
          type: string
          description: AI persona display name.
        message:
          type: string
        target:
          type: string
          description: Username the AI is addressing or `chat`.
        targetRole:
          type: string
          description: Role of the target (e.g. VIEWER, MOD, VIP).
        shouldGenerateTtsMessage:
          type: boolean
        characterId:
          type: string
          description: Identifier of the active character, if any.
          nullable: true
        tone:
          type: string
          description: Optional tone label.
        sentDateTime:
          type: string
          format: date-time
    EventSubMemoryFragment:
      type: object
      required:
        - id
        - name
        - facts
        - updated
      properties:
        id:
          type: string
        name:
          type: string
        facts:
          type: string
        updated:
          type: string
          format: date-time
    EventSubChatFirstMessagePayload:
      type: object
      required:
        - username
        - sentDateTime
      properties:
        memory:
          allOf:
            - $ref: '#/components/schemas/EventSubMemoryFragment'
          nullable: true
        greeting:
          type: string
          description: Optional greeting generated from the memory.
        username:
          type: string
        sentDateTime:
          type: string
          format: date-time
    EventSubAiThoughtsPayload:
      type: object
      required:
        - reasoning
        - shouldAnswer
        - compiledFromMultiple
        - sentDateTime
      properties:
        reasoning:
          type: string
        shouldAnswer:
          type: boolean
        compiledFromMultiple:
          type: boolean
        sentDateTime:
          type: string
          format: date-time
    EventSubAiTtsGeneratedPayload:
      type: object
      required:
        - messageId
        - username
        - textToSpeech
        - audioFormat
        - generationTimeMs
        - audioSizeBytes
        - ttsStreamUrl
        - sentDateTime
      properties:
        messageId:
          type: string
        username:
          type: string
        textToSpeech:
          type: string
        audioFormat:
          type: string
          description: Audio content type (e.g. mp3, wav).
          example: mp3
        generationTimeMs:
          type: integer
          format: int32
          description: Time taken to generate audio in milliseconds.
        audioSizeBytes:
          type: integer
          format: int32
          description: Size of the generated audio payload in bytes.
        ttsStreamUrl:
          type: string
          format: uri
          description: URL to the dedicated TTS SSE stream.
        sentDateTime:
          type: string
          format: date-time
    EventSubChannelEventPayload:
      type: object
      required:
        - eventType
        - sentDateTime
      properties:
        eventType:
          type: string
          description: Channel event type (e.g. FOLLOW, SUBSCRIPTION, RAID).
        username:
          type: string
          nullable: true
        gifter:
          type: string
          nullable: true
        count:
          type: integer
          format: int32
          nullable: true
        value:
          type: integer
          format: int32
          nullable: true
        raidViewers:
          type: integer
          format: int32
          nullable: true
        message:
          type: string
          description: Optional message associated with the channel event.
        sentDateTime:
          type: string
          format: date-time
    EventSubModerationCategoryScore:
      type: object
      required:
        - flagged
        - score
      properties:
        flagged:
          type: boolean
        score:
          type: number
          format: double
    EventSubAiModerationPayload:
      type: object
      required:
        - messageId
        - username
        - originalMessage
        - isAppropriate
        - categoriesScore
        - moderationEnabled
        - sentDateTime
      properties:
        messageId:
          type: string
        username:
          type: string
        originalMessage:
          type: string
        isAppropriate:
          type: boolean
        categoriesScore:
          type: object
          description: Map of category name to moderation scores.
          additionalProperties:
            $ref: '#/components/schemas/EventSubModerationCategoryScore'
        moderationEnabled:
          type: boolean
        sentDateTime:
          type: string
          format: date-time
    EventSubApiPayload:
      type: object
      required:
        - eventType
        - content
        - shouldGenerate
      properties:
        eventType:
          type: string
        content:
          type: string
        shouldGenerate:
          type: boolean
        ttl:
          type: integer
          format: int32
          nullable: true
        expiresAt:
          type: string
          format: date-time
          nullable: true
    EventSubSystemJoinPayload:
      type: object
      required:
        - channelId
        - channelName
        - sentDateTime
      properties:
        channelId:
          type: string
        channelName:
          type: string
        sentDateTime:
          type: string
          format: date-time
    EventSubSystemLeftPayload:
      type: object
      required:
        - channelId
        - channelName
        - sentDateTime
      properties:
        channelId:
          type: string
        channelName:
          type: string
        sentDateTime:
          type: string
          format: date-time
    EventSubCharacterUpdatedPayload:
      type: object
      required:
        - characterId
        - displayName
        - sentDateTime
      properties:
        characterId:
          type: string
        displayName:
          type: string
        sentDateTime:
          type: string
          format: date-time
    EventSubSystemPingPayload:
      type: object
      required:
        - pingId
      properties:
        pingId:
          type: integer
          format: int64


  requestBodies:
    Event:
      description: Pet object that needs to be added to the store
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Event'

  securitySchemes:
    api_key:
      type: apiKey
      name: Authorization
      in: header
